name: CI

on: 
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12.4'
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip 
                pip install flake8 pytest pytest-cov
                pip install -r requirements.txt
            - name: flake8 Lint
              uses: py-actions/flake8@v2
            - name: Test with pytest
              run: |
                pytest